:root {
  --primary-color: #9f9f9f;
  --secondary-color: #075bd3;
  --terciary-color: #f5f6f7;
  --fourty-color: #cfcfcf;
  --alert-color: #ff6767;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header img {
  width: 50px;
}

.search-container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--fourty-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subtitle-container {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input-user {
  width: 83%;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
}

.input-user:focus {
  outline: none;
  border-color: var(--secondary-color);
  border-width: 2px;
  border-style: solid;
}

.btn-search {
  width: 15%;
  padding: 11px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--terciary-color);
  cursor: pointer;
  transition: 1s;
} 

.btn-search:hover {
  background-color: #2b7aea;
}

.fa-magnifying-glass { 
  margin-right: 5px;
}

.fa-arrow-up-right-from-square {
  color: var(--primary-color);
  margin-left: 5px;
}

.fa-user,
.fa-users {
  margin-right: 10px;
}

.container-error {
  border: 1px solid ;
  width: 99%;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.container-error .error-message {
  color: var(--alert-color);
}

.card-information {
  border: 1px solid var(--fourty-color);
  width: 700px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
}

.basic-info {
  display: flex;
}

.basic-info img {
  width: 100px;
  border-radius: 50%;
}

.filter {
  display: none;
}

.basic-info div {
  margin-left: 15px;
}

.name,
.user-link a {
  font-size: 1.5rem;
}

.user-link a {
  color: var(--primary-color);
  text-decoration: none;
}

.user-link a:hover {
  text-decoration: underline;
}

.follows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-follow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container-follow span {
  margin-right: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.bio {
  margin-top: 30px;
  font-weight: 600;
}

.joined {
  margin-top: 20px;
  color: var(--primary-color);
}